:root {
    --light-green: #f0f2e5;
    --dark-green: #30402d;
    --dark-brown: #75441c;
    --light-brown: #a87038;
    --dark-yellow: #eecd7d;
	--light-yellow: #fff6b5;
    --shadow-md: 0 1px 8px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 1px 16px 0 rgb(0 0 0 / 0.2), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    font-family: "ZCOOL KuaiLe";
    background-color: var(--light-green);
}

header {
    height: 40vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #131417;
}

header img {
    height: 40vh;
    width: 100%;
    filter: blur(4px);
    position: absolute;
    object-fit: cover;
    opacity: 80%;
}

header div {
    font-size: 2.5em;
    color: white;
    padding: 0.75em 1.5em;
}

.poems {
    margin: 1em auto;
    padding: 0 2em;
    font-size: 1.5em;
    display: flex;
    gap: 1.5em;
    flex-grow: 0;
    font-family: 'Ma Shan Zheng';
}

.poem {
    margin: 0 auto;
    width: 2.5em;
    color: black;
    background: var(--dark-brown);
    border-radius: 2px;
}

.pl {
    padding: 0.75em;
    width: 1em;
    border-radius: 2px;
    background: white;
    box-shadow: var(--shadow-lg)
}

.placeholder {
    margin-bottom: 7em;
}

.p_sm {
    width: 2.25em;
    margin: 6em 0;
    font-size: 0.7em;
    background: var(--dark-green);
}

.pl_sm {
    width: 0.75em;
	font-family: "ZCOOL KuaiLe";
	writing-mode: vertical-lr;
}

.p1 {
    transform: translateX(6px) translateY(5px);
}

.p2 {
    transform: translateX(6px) translateY(-5px);
}

.p3 {
    transform: translateX(-4px) translateY(3px);
}

.p4 {
    transform: translateX(-4px) translateY(-3px);
}

.p5 {
    transform: translateX(4px) translateY(3px);
}

.p6 {
    transform: translateX(4px) translateY(-3px);
}

header div{
    position: absolute;
}

.center {
    flex: 1;
}

.main {
    display: flex;
    justify-content: space-between;
}

.forum {
    position: relative;
    border-top: 2.5em solid var(--dark-brown);
    box-shadow: var(--shadow-md);
    background: white;
    padding: 2em;
	margin-top: 4em;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    gap: 2em;
    border-radius: 2px;
}

.forum .block {
    background-color: var(--light-yellow);
    border-radius: 2px;
    box-shadow: var(--shadow-md);
	font-size: 1em;
	display: flex;
}

.forum .block .container {
	display: flex;
	flex: 1;
	padding: 2em 1.5em;
	flex-direction: column;
	justify-content: space-between;
}

.forum .block .img {
	height: 80px;
	width: 80px;
}

.block .room {
	margin-top: 8px;
	text-align: right;
}

.block .room:before {
    content: '— ';
}

.urls {
    background-color: white;
    border-radius: 2px;
    border-top: 2.5em solid var(--dark-yellow);
    box-shadow: var(--shadow-md);
    transform: translateY(-30px);
    border-bottom: 1px solid lightgray;
    padding: 0.5em;
    gap: 0.5em;
    margin: 0 auto;
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.urls .img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.w .img {
    width: 35%;
}

.urls .img img {
    width: 100%;
    height: 100%;
}

.url_block {
    position: relative;
    padding-bottom: 100%;
    border-radius: 2px;
    text-align: center;
    border-bottom: 1px solid white;
    background-color: var(--light-green);
}

.w {
	padding-bottom: calc(50% - 0.25em);
}

.url_block .container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.url_block:hover .container {
    box-shadow: var(--shadow-md);
    border-bottom: 1px solid lightgray;
    text-decoration: underline;
}

.url_block .text {
    padding-top: 0.5em;
	font-weight: bold;
}

.img {
    border-radius: 20%;
    overflow: hidden;
}

.img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.l1 {
    margin-left: 1em;
}

.title {
    position: absolute;
    top: -2em;
    left: 1em;
}

.forum .title {
    color: white;
}

.w {
	grid-column: span 2 / span 2;
}